<!DOCTYPE html>
<!--
 This file is part of help.eyeo.com.
 Copyright (C) 2017-present eyeo GmbH

 help.eyeo.com is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 help.eyeo.com is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with help.eyeo.com.  If not, see <http://www.gnu.org/licenses/>.
-->
<html
  lang="{{ locale }}"
  dir="{{ "rtl" if config.has_option("rtl", locale) else "ltr" }}"
  class="no-js">
<head>
  {% block head %}
    {{ head | safe }}
  {% endblock %}
</head>
<body>
  {% block body %}
    {{ body | safe }}
  {% endblock %}
</body>
<html>
